@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Consignes*/
h1{
    font-size: 64px;
}
h2{
    font-size: 32px;
}
h1,h2{
    text-transform : uppercase;
}
.consignes{
    background-color: lightgoldenrodyellow;
    padding: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.center{
    text-align: center;
}

/*Designer les boutons*/
.bouton{
   display: block; 
   text-decoration: none;
   width:fit-content;
   padding: 16px 32px;
   margin-bottom: 16px;
   color: #000;
}

.border-solid{
    border : solid 1px black;
}
.border-dashed{
    border : dashed 5px black;
}
.inter-big{
    font-family: "Inter";
    font-size: 22px;
    font-weight: 700;
}
.inter-small{
    font-family: "Inter";
    font-size: 16px;
}
.text-white{
    color: #fff;
}
.bg-green{
    background-color: #61FF7B;
}
.bg-blue{
    background-color: #1398A0;
}
.radius-8{
    border-radius: 8px;
}
.radius-32{
    border-radius: 32px;
}
.radius-0-32{
    border-radius: 0px 32px;
}



